@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  
}

header{
width: 100%;
height: auto;  

}

.imagen__sindicato__header{
  width: 100%;
  border:none;
  display:block
}

.contenedor__header__nav{
  width: 100%;
  height: 20px;
  background-color: #85c2f4;
  display: none;
  
 
}

.contenedor__header__nav.active {
  display: block;
  width: 150px;
  margin-bottom: 120px;
  
}



.contenedor__header__nav.active ul{
  background-color: #85c2f4; 
  border: 1px solid black;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.contenedor__header ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.div__btn{
  background-color: #85c2f4;
  display: flex;
  justify-content: center;
}

.hamburguer{
  background-color: #85c2f4;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}