@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('formulario_creacionNoticia.css');
@import url('detalleNoticia.css');
@import url('footer.css');
@import url('simpleSlider.min.css');
@import url('theme.min.css');
@import url('secretaria.css');
@import url('dashboard.css');
@import url('search.css');

*{
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  
}

header{
width: 100%;
height: auto;  

}

.div_escudos_h3{
  width: 100%;
  height: 40%;
  background-color: #85c2f4;
  display:flex;
  align-items: center;
  justify-content: space-around;
  
  
}

.escudo_sindicato_header{
  width: 23%;
  height: 23%;
  padding-top: 1.5%;
 /* border:none;*/
  /*display:block*/
}

.escudo_fesimubo_header{
  width: 20%;
  height: 20%;
  padding-top: 1.5%;
 /* border:none;*/
  /*display:block*/
}

.h3_titulo_header{
  width: 55%;
  text-align: center;
  padding-top: 1%;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.contenedor__header__nav{
  width: 100%;
  height: auto;
  background-color: #85c2f4;
  display: none;
 
  
 
}

.contenedor__header__nav.active {
  display: block;
  width: 100%;
}

.contenedor__header__nav.active ul{
  background-color: #85c2f4; 
  border: 1px solid black;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

}

.contenedor__header ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.div__btn__hamburguer__form{
  display:flex;
  width: 100%;
  height: 10%;
  justify-content:space-between;
  background-color: #85c2f4;
}

.div__btn{
  width: 15%;
  height: 32%;
  background-color: #85c2f4;
  display: flex;
justify-content: center;
}

.hamburguer{
  background-color: #85c2f4;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none; /* Oculta el elemento */
}

.form_search{
  width: 60%;
  height: 10%;
  position:relative;
  padding-left: 1%;
  padding-right:0 ;
  padding: 1%;
}

.input_search {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 100%;
  
}

.btn_search {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  right: 2%;

}

.fa-solid fa magnifying-glass{
  font-size: 20px;
  color: #000;
  margin-left: 5px;     

}

.icon_search {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  right:5%;
  top:27%
}


/* main */

main a{
  text-decoration: none;
  
}

.contenedor__main{
  width: 100%;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
}

.h1__principal{
  /*display: none;*/
  font-family: "Allura";
  padding: 3%
}


.contenedor__articulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96%;
  height: auto;
  border: 1x solid #000; 
  margin-bottom: 40px;
  /*margin-left: 2%;
  margin-right: 2%;*/

}

.contenedor__localidad{
  width: 100%;
  height: 28px;
  background-color: #85c2f4;
  display: flex;
  justify-content: flex-start;
  border-top-left-radius: 10px; /* Redondea la esquina superior izquierda */ 
  border-bottom-right-radius: 10px;
  margin-top:10px;
  
}

.p__localidad{
  padding-left: 20px;
  padding-top: 5px;
  font-family: "Roboto";
  font-size: 14px;
  height: 14px;
  font-weight: 600;
  color:#ffffff
  
}

.p__fecha{
  font-family: "Saira";
  font-size: 12px;
  font: height 18px;
  font-weight: 400;
  color: #000;
  text-align: end;

}

.imagen__noticia{
  width: 60%;
  height: auto;
  transition: transform 0.3s ease; /* Añade una transición suave */
  margin-left: 23%;

}
.imagen__noticia:hover {
  transform: scale(1.1); /* Agranda la imagen al 110% */
}

.h1__titulo{
  font-family: "Titillium Web", serif;
  font: height 28xp;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  color: #000;
}

.h3__epigrafe{
  font-family: "Saira";
  font-size: 18px;
  font-weight: 400;
  color:#000;
  text-align: center;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1023px) {
  header{
    width: 100%;
    height: auto;  
    
    }
    
    .div_escudos_h3{
      width: 100%;
      height: 40%;
      background-color: #85c2f4;
      display:flex;
      align-items: center;
      justify-content: space-around;
      
      
    }
    
    .escudos_header{
      width: 20%;
      height: 20%;
      padding-top: 1.5%;
     /* border:none;*/
      /*display:block*/
    }
    
    .h3_titulo_header{
      width: 55%;
      text-align: center;
      padding-top: 1%;
      font-size: 2.25em;
    }

    
  .contenedor__main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
  }
  .contenedor__articulo {
    width: 45%;
  }

  .imagen__noticia {
    width: 100%;
    height: 320px;
    margin-left: 0%;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  header{
    width: 100%;
    height: auto;  
    
    }
    
    .div_escudos_h3{
      width: 100%;
      height: 40%;
      background-color: #85c2f4;
      display:flex;
      align-items: center;
      justify-content: space-around;
      
      
    }
    
    .escudo_sindicato_header{
      width: 10%;
      height: 10%;
      padding-top: 1.5%;
     /* border:none;*/
      /*display:block*/
    }

    .escudo_fesimubo_header{
      width: 10%;
      height: 10%;
      padding-top: 1.5%;
     /* border:none;*/
      /*display:block*/
    }
    
    .h3_titulo_header{
      width: 65%;
      text-align: center;
      padding-top: 1%;
      font-size: 3.25em;
    }
    .div__btn__hamburguer__form{
      width: 100%;
      display:flex;
      justify-content:space-between;
      background-color: #85c2f4;
    }

    .fa-solid fa magnifying-glass{
      font-size: 5%;
      color: #000;
      margin-left: 5px;     
    
    }

    .icon_search {
      cursor: pointer;
      font-size: 20px;
      color: #333;
      position: absolute;
      right:5%;
      top:39%;
      display:none
    }
    .form_search{
      width: 60%;
      height: 10%;
      position:relative;
      right:30%;
      padding-left: 1%;
      padding-right:0 ;
      padding: 1%;
      display: block;
      margin-bottom: 1%;
    }

    .btn_search {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 12px;
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position:absolute;
      right: 2%;
      top: 20%
    
    }

    /* main */
    .contenedor__main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 2%;
       
  }

   .contenedor__articulo {
    width: 40%;
    height: 40%;
    margin-bottom: 1%;
    

  }

  .contenedor__localidad{
    width: 100%;
    height: 40px;
    background-color: #85c2f4;
    display: flex;
    justify-content: flex-start;
    border-top-left-radius: 10px; /* Redondea la esquina superior izquierda */ 
    border-bottom-right-radius: 10px;
    /*margin-top:10px;*/
    
  }

  .p__localidad{
    padding-left: 20px;
    padding-top: 5px;
    font-family: "Roboto";
    font-size: clamp(1em, 2vw, 2em);
    height: 14px;
    font-weight: 600;
    color:#ffffff
    
  }

  .imagen__noticia {
    width: 100%;
    height: 380px;
    margin-left: 0%;
  }
}