<%- include('./partials/head.ejs')%>
  <body>
 <%- include('./partials/header') %>
 <main>
  <h1 class="h1_creacion_noticia"><%= title %></h1>
  <form action="/crearNoticia" method="post" enctype="multipart/form-data"> 
    <div> 
        <label for="fecha">Fecha:</label> 
        <input type="date" id="fecha" name="fecha" required> 
      </div> 
    <div> 
        <label for="titulo">Título:</label> 
        <input type="text" id="titulo" name="titulo" required> 
    </div> 
    <div> 
        <label for="breveResumen">Breve Resumen:</label> 
        <input type="text" id="epigrafe" name="epigrafe" required>
    </div> 
    <div> 
        <label for="textoInformativo">Texto Informativo:</label>
        <textarea id="textoInformativo" name="textoInformativo" rows="5" required></textarea> 
    </div> 
    <div> 
        <label for="localidad">Localidad:</label> 
        <input type="text" id="localidad" name="localidad" required> 
    </div> 
    <div> 
        <label for="imagen">Imagen:</label> 
        <input type="file" id="imagen" name="imagen" accept="image/*" required> 
    </div> 
    <div> 
        <button type="submit">Crear Noticia</button>
    </div>
 </main>   

</body>

