<%- include('./partials/head.ejs')%>
  <body>
 <%- include('./partials/header') %>   

    <main class="contenedor__main">
   
      <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </main>
  </body>
</html>
