<footer>
    <div>
        <div>
            <h3>Sindicato de trabajadores municipales de San Miguel, Jose C. Paz y Malvinas Argentinas</h3>
            <h4>Personeria Gremial n°</h4>
        
            <h3>Pringles 1132 - San Miguel(cede central) Buenos Aires - Argentina</h3>
            <h4>Tel 4451-7933/7232</h4>
            <h4>Horario de Atencion: 08:00hs a 16:00hs</h4>
        </div>
        <div>

        </div>
    </div>
</footer>