<footer class="contenido__footer">
    
        
            <img class="escudo__sindicato__footer" src="/public/images/Escudo Sindicato.svg" alt="escudo sindicato">
            <div class="posicionamiento__contenido__footer">
                <h3 class="footer__nombre__sindicato">Sindicato de Trabajadores Municipales de San Miguel, Jose C. Paz y Malvinas Argentinas</h3>
                <h4 class="footer__datos">Personeria Gremial n° 954</h4>
                <h3 class="footer__datos">Pringles 1232 - San Miguel - Buenos Aires - Argentina</h3>
                 <div class="footer__telicono__h4">
                    <img class= "footer__icono__telefono" src="/public/images/tel-ffffff.svg" alt="icono telefono"><h4>Tel 4451-7933/7232</h4>
                </div>
                <h4 class="footer__datos">Horario de Atencion: 08:00hs a 16:00hs</h4>
                <div class="footer__enlace__facebook">
                    <img class="logo__facebook__footer" src="/public/images/facebook-icon-logo-svg-vector.svg" alt="logo facebook"><h4><a href="http://www.facebook.com/sindicatomunicipalsmjcpma">@sindicatomunicipalsmjcpma</a></h4>
                </div>    
        
           </div>
    
</footer>