<header>
    <img class="imagen__sindicato__header" src="/images/nuevo_bandera_sindicato.jpg">
    <div class="div__btn">
        <button class="hamburguer" id="hamburguer-btn">&#9776;</button>
    </div>
    <nav class="contenedor__header__nav" id="nav-menu">
        <ul>  
           <li><a href="#link1">secretaria de juventud</a></li>  
            <li><a href="#link2">secretaria de tercera edad</a></li>  
            <li><a href="#link3">secretaria de la mujer</a></li>  
            <li><a href="#link4">secretaria gremial</a></li>  
        </ul>  
    </nav>
    </header>